source ~/dotfiles/init.vim

" G-o to ...
nmap gi <Action> GotoImplementation<CR>
nmap gr <Action> FindUsages<CR>
nmap gs <Action> GotoSuperMethod<CR>

" A-ction
nmap <leader>ar <Action> RenameElement<CR>
nmap <leader>af <Action> ReformatCode<CR>
nmap <leader>ai <Action> Inline<CR>
nmap <leader>ax <Action> HideActiveWindow<CR>

" E-xtract
nmap <leader>ea <Action> IntroduceActionsGroup<CR>
nmap <leader>ep <Action> IntroduceParameter<CR>
nmap <leader>ev <Action> IntroduceVariable<CR>
nmap <leader>ec <Action> IntroduceConstant<CR>
nmap <leader>ef <Action> ExtractFunction<CR>
nmap <leader>em <Action> ExtractFunction<CR>

" W-indow
nmap <leader>wp <Action>(ActivateProjectToolWindow)
nmap <leader>wg <Action>(ActivateVersionControlToolWindow)
nmap <leader>wl <Action>(ActivateLogcatToolWindow)

" GG-it
nextmap <leader>ggh <Action>(Vcs.ShowTabbedFileHistory)

set ideajoin
set ideaput
