source ~/dotfiles/init.vim

" G-o to ...
nmap gi :action GotoImplementation<CR>
nmap gr :action FindUsages<CR>
nmap gs :action GotoSuperMethod<CR>

" A-ction
nmap <leader>ar :action RenameElement<CR>
nmap <leader>af :action ReformatCode<CR>
nmap <leader>ai :action Inline<CR>

" E-xtract
nmap <leader>ea :action IntroduceActionsGroup<CR>
nmap <leader>ep :action IntroduceParameter<CR>
nmap <leader>ev :action IntroduceVariable<CR>
nmap <leader>ec :action IntroduceConstant<CR>
:map <leader>ef <Action>(ExtractFunction)
:map <leader>em <Action>(ExtractFunction)

" W-indow
:map <leader>wp <Action>(ActivateProjectToolWindow)
:map <leader>wg <Action>(ActivateVersionControlToolWindow)
:map <leader>wl <Action>(ActivateLogcatToolWindow)


set ideajoin
set ideaput
