syntax on
filetype plugin on

set list
set smartindent
set noexpandtab
set tabstop=4
set shiftwidth=4
set nowrap
set cursorline
set noerrorbells
set showmode
set encoding=UTF-8
set nu
set smartcase
set noswapfile
set nobackup
set undodir=~/.vim/undodir
set undofile
set incsearch
set hls
set showcmd
set relativenumber
set ignorecase
set background=dark

let mapleader = " "

" easier beginning and end of line
nnoremap L $
nnoremap H ^

" Copy till the end of line
nnoremap Y y$

" Exit insert mode
inoremap jj <esc>
inoremap jk <esc>
inoremap kj <esc>

" ===============
" INTELLIJ STUFF
" ===============

" G-o to ...
nmap gi :action GotoImplementation<CR>
nmap gr :action FindUsages<CR>
nmap gs :action GotoSuperMethod<CR>

" A-ction
nmap <leader>ar :action RenameElement<CR>
nmap <leader>af :action ReformatCode<CR>
nmap <leader>ai :action Inline<CR>
nmap <leader>ax :action HideActiveWindow<CR>
nmap <leader>as :action SelectInProjectView<CR>
nmap <leader>ag :action Generate<CR>

" E-xtract
map <leader>ea :action IntroduceActionsGroup<CR>
map <leader>ep :action IntroduceParameter<CR>
map <leader>ev :action IntroduceVariable<CR>
map <leader>ec :action IntroduceConstant<CR>
map <leader>ef :action ExtractFunction<CR>
map <leader>em :action ExtractMethod<CR>

" W-indow
:map <leader>wq <Action>(HideActiveWindow)
:map <leader>wp <Action>(ActivateProjectToolWindow)
:map <leader>wg <Action>(ActivateVersionControlToolWindow)
:map <leader>wl <Action>(ActivateLogcatToolWindow)
:map <leader>wt <Action>(ActivateTerminalToolWindow)

" GG-it
:map <leader>ggh <Action>(Vcs.ShowTabbedFileHistory)
:map <leader>ggl <Action>(Vcs.UpdateProject)
:map <leader>ggc <Action>(ActivateCommitToolWindow)
:map <leader>ggm <Action>(Git.ResolveConflicts)

set ideajoin
set ideamarks
set easymotion

set clipboard+=unnamed
set clipboard+=unnamedplus

" system clipboard
vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>y "+yy
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P


" Quick copy-paste
" Copy
vmap <C-Space> "ay
nmap <C-c> "ayiw
" Paste
nmap <C-Space> "aP
imap <C-Space> <C-o>"ap
